<footer class="bg-orange">
    <div class="container-footer">
        <div class="row">
            <div class="col-md-4">
                <div id="mc_embed_signup">
                    <form action="//diosa.us13.list-manage.com/subscribe/post?u=ce7c12a51e79f2d8680086905&amp;id=44a0f3bc4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2 class="font-bold form-font-size fg-white">Newsletter</h2>
                            <p class="font-normal form-font-size fg-white">Cadastre-se para se manter informado.</p>
                            <div class="post-footer hidden">
                                <p class="font-normal content-font-size fg-white">Obrigada por se cadastrar!</p>
                            </div>
                            <div class="pre-footer">
                                <div class="form-group has-feedback">
                                    <input value="" name="EMAIL" id="mce-EMAIL" type="email" class="email form-control" placeholder="E-mail" required>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ce7c12a51e79f2d8680086905_44a0f3bc4c" tabindex="-1" value=""></div>
                                    <span class="glyphicon glyphicon glyphicon-arrow-right form-control-feedback" aria-hidden="true"><input type="submit" class="f-submit" name="subscribe" id="mc-embedded-subscribe"></span>
                                    <div id="miss-email-footer" class="hidden">
                                        <span class="form-font-size fg-white">Por favor, insira um e-mail válido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 ta-c legal">
                <p class="font-normal form-font-size fg-white">© 2016 diosa</p>
                <p class="font-normal form-font-size fg-white">Todos os direitos reservados.</p>
            </div>
            <div class="col-md-4">
                <div class="social f-right">
                    <a href="https://www.facebook.com/diosamaodeobrafeminina/?fref=ts" target="_blank">
                        <img src="{{ site.baseurl }}/img/fb.png" width="40" height="40" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <button type="button" class="close fg-gray" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body ta-c">
                <div id="mc_embed_signup">
                    <form action="//diosa.us13.list-manage.com/subscribe/post?u=ce7c12a51e79f2d8680086905&amp;id=44a0f3bc4c" method="post" id="mc-embedded-subscribe-form1" name="mc-embedded-subscribe-form1" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2 class="font-bold title-font-size fg-blue tt-u">Newsletter</h2>
                            <p class="font-normal subtitle-font-size fg-gray">Cadastre-se para se manter informado.</p>
                            <div class="post-modal hidden">
                                <p class="font-bold content-font-size fg-orange">Obrigada por se cadastrar!</p>
                            </div>
                            <div class="pre-modal">
                                <div class="form-group has-feedback">
                                    <input value="" name="EMAIL" id="mce-EMAIL1" type="email" class="email form-control" placeholder="E-mail" required>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ce7c12a51e79f2d8680086905_44a0f3bc4c" tabindex="-1" value=""></div>
                                    <span class="glyphicon glyphicon glyphicon-arrow-right form-control-feedback" aria-hidden="true"><input type="submit" class="e-submit" name="subscribe" id="mc-embedded-subscribe"></span>
                                    <div id="miss-email-modal" class="hidden">
                                        <span class="form-font-size fg-orange">Por favor, insira um e-mail válido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}""></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}""></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77783845-1', 'auto');
  ga('send', 'pageview');

</script>
