<footer class="bg-orange">
    <div class="container-section">
        <div class="row">
            <div class="col-md-4">
                <h2 class="font-bold form-font-size fg-white">Newsletter</h2>
                <p class="font-normal form-font-size fg-white">Cadastre-se para se manter informado</p>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <div class="col-md-4 ta-c">
                <p class="font-normal form-font-size fg-white">© 2016 diosa</p>
                <p class="font-normal form-font-size fg-white">Todos os direitos reservados.</p>
            </div>
            <div class="col-md-4">
                <div class="f-right" style="width: 50%; height: 40px;">
                    <a href="https://www.facebook.com/diosamjm/?fref=ts" target="_blank">
                        <img src="{{ site.baseurl }}/img/fb.png" width="40" height="40" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="href="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}""></script>
