<footer class="bg-orange">
    <div class="container-section">
        <div class="row">
            <div class="col-md-4">
                <h2 class="font-bold form-font-size fg-white">Newsletter</h2>
                <p class="font-normal form-font-size fg-white">Cadastre-se para se manter informado.</p>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="E-mail">
                    <span class="glyphicon glyphicon glyphicon-arrow-right form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-md-4 ta-c legal">
                <p class="font-normal form-font-size fg-white">© 2016 diosa</p>
                <p class="font-normal form-font-size fg-white">Todos os direitos reservados.</p>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <a href="https://www.facebook.com/diosamjm/?fref=ts" target="_blank">
                        <img src="{{ site.baseurl }}/img/fb.png" width="40" height="40" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}""></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}""></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77783845-1', 'auto');
  ga('send', 'pageview');

</script>
