<header >
    <nav class="site-nav">

        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <ul>
            <li class="lst-none f-left"><a class="font-bold menu-font-size fg-gray td-n tt-u" href="#">Início</a></li>
            <li class="lst-none f-left"><a class="font-bold menu-font-size fg-gray td-n tt-u" href="#">O que fazemos</a></li>
            <li class="lst-none f-left"><a class="font-bold menu-font-size fg-gray td-n tt-u" href="#">Quem somos</a></li>
            <li class="lst-none f-left"><a class="font-bold menu-font-size fg-gray td-n tt-u" href="#">Parceiros</a></li>
            <li class="lst-none f-left"><a class="font-bold menu-font-size fg-gray td-n tt-u" href="#">Contato</a></li>
        </ul>
    </nav>
</header>
