<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" >

  <meta name="description" content="{{ site.description }}">
  <meta property="og:locale" content="pt_BR">

  <meta property="og:url" content="http://diosa.me">

  <meta property="og:title" content="Diosa - Mão de obra femina">
  <meta property="og:site_name" content="Diosa - Mão de obra femina">

  <meta property="og:description" content=" Uma plataforma de divulgação de mão de obra feminina na área de manutenção geral de residências">

  <meta property="og:image" content="http://diosa.me/img/facebook-logo.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="480">
  <meta property="og:image:height" content="480">

  <meta property="fb:app_id" content="1020576391361271" />

  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta property="og:type" content="website">

  <!-- and for documents/pages whose URL's can change... -->
  <a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a>

</head>
