body {
  background-color: black;
  font-family: $base-font-family;
}

header {
    background: url("../img/bg.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    padding: 40px;
}

.border {
    background: url("../img/borda.png") no-repeat center center;
    height: 200px;
    position: relative;
    top: -65px;
    margin-bottom: -130px;
}

.navbar-default {
    background-color: $base-white !important;
    border-color: none !important;
}

.navbar {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    width: 70%;
    margin: auto;
    border-radius: 0px !important;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: $base-orange;
    border-bottom: 5px solid $base-orange;
    background-color: transparent;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin: 140px 100px;
}

.btn {
    padding: 10px 15px;
    border: 2px solid transparent;
}

.btn-default, .form-control {
    border-radius: 0px;
    color: $base-white;
    background-color: transparent;
    border-color: $base-white;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.btn-default:hover {
    color: $base-blue;
    background-color: $base-white;
    border-color: $base-white;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.contact .btn-default {
    color: $base-orange;
    background-color: transparent;
    border-color: $base-orange;
}

.contact .btn-default:hover {
    color: $base-white;
    background-color: $base-orange;
    border-color: $base-orange;
}

.form-control:focus {
    border-color: $base-white;
}

.form-group input::-webkit-input-placeholder {
    color: $base-white;
}

.form-group input:-moz-placeholder {
    color: $base-white;
}

.form-group input::-moz-placeholder {
    color: $base-white;
}

.form-group input:-ms-input-placeholder {
    color: $base-white;
}

.contact form {
    margin-bottom: 40px;
}

.contact .form-control {
    color: $base-gray;
    background-color: $base-light-gray !important;
    border: none;
    box-shadow: none;
}

.contact input.form-control {
    padding: 20px;
}

.contact .form-control:focus {
    border-color: $base-light-gray;
}

.contact .form-group input::-webkit-input-placeholder {
    color: $base-gray;
}

.contact .form-group input:-moz-placeholder {
    color: $base-gray;
}

.contact .form-group input::-moz-placeholder {
    color: $base-gray;
}

.contact .form-group input:-ms-input-placeholder {
    color: $base-gray;
}

section {
    padding: 90px 20px;
}

section.b-pad {
    padding: 140px 0px 90px;
}

section h2 {
    margin-bottom: 40px;
}

section .pilares {
    margin-top: 40px;
}

section p {
    margin-bottom: 40px;
}

footer {
    padding: 70px 0px;
}

.container-section {
    max-width: 750px;
    margin: 0 auto;
}

.pilar-circle {
    border: 1px solid $base-blue;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    .pilar-img {
        padding: 20px 5px;
        &.helps {
            padding: 15px;
        }
    }
}

.border-subtitle {
    border-bottom: 2px solid $base-orange;
    width: 50%;
    margin: 10px auto;
    &.pot {
        width: 70%;
    }
}

footer {
    h2  {
        margin: 10px 0;
        padding: 0;
    }
}

.social {
    height: 40px;
    width: 40px;
    margin: auto;
    display: block;
}

@include media-query($on-laptop) {
    header {
        padding: 0;
    }
    h1 {
        margin: 60px 40px;
    }
    .border-subtitle {
        max-width: 50%;
    }
    .navbar {
        width: 100%;
        position: initial;
    }
    footer {
        text-align: center;
        .form-group {
            width: 50%;
            margin: 15px auto;
        }
    }
}
